# Запускаем движок замены
RewriteEngine on

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L] 

# Если запрашиваемый объект не папка
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=301,L]

# если запрашиваемый объект с дописанным расширением php - файл
RewriteCond %{REQUEST_FILENAME}\.php -f





#RewriteRule ^(.*)old_page.html$ #http://vash-sait.ru/new_page.html [R=301,L]


# https://www.lapous.com.ua/zapisatsya-k-vrachu/
# http://lapous.com.ua




# делаем замену с дописыванием .php
RewriteRule ^(.*)$ $1.php


AddDefaultCharset utf-8 
# кодировка utf-8 - сними коментарий выше!!!


ErrorDocument 404 /error404.php
#  Ссылка на страницу err404.php, если страница не найдена


