#AddDefaultCharset utf-8 
# кодировка utf-8 - сними коментарий выше!!!

RewriteEngine On 
#включить модуль сервера Apache для манипуляции (изменения) URL

RewriteCond %{REQUEST_FILENAME} !-f 
# условие, что все существующие папки не будут обрабатываться регулярным выражением

RewriteCond %{REQUEST_FILENAME} !-d 
#условие, что все существующие файлы не будут обрабатываться регулярным выражением

RewriteRule ^(.*)$ index.php?/$1 [L] 
#регулярное выражение, в нашем случае — при любой строке запроса будет открывать index.php, добавляя её (строку запроса) в $_SERVER['REQUEST_URI'].