
/Denwer3/denwer/
/Denwer3/tmp/
/Denwer3/*.*


/Denwer3/home/cgi-glob/
/Denwer3/home/custom/
/Denwer3/home/localhost/
/Denwer3/home/test1.ru/


/Denwer3/usr/bin/
/Denwer3/usr/sbin/

/Denwer3/usr/local/apache/
/Denwer3/usr/local/*bin/
/Denwer3/usr/local/miniperl/
/Denwer3/usr/local/php5/
/Denwer3/usr/local/vcredist/

/Denwer3/usr/local/mysql-5.7/bin/
/Denwer3/usr/local/mysql-5.7/share/
/Denwer3/usr/local/mysql-5.7/COPYING
/Denwer3/usr/local/mysql-5.7/*.*
/Denwer3/usr/local/mysql-5.7/README


/Denwer3/usr/local/mysql-5.7/data/mysql/
/Denwer3/usr/local/mysql-5.7/data/performance_schema/
/Denwer3/usr/local/mysql-5.7/data/sys/
/Denwer3/usr/local/mysql-5.7/data/*.*
/Denwer3/usr/local/mysql-5.7/data/ib*
#===========================================

/Programs/*


/*.lnk


/PHP/VIDEO+BOOKS