/*
   <!--  Подключаем footer -->
<!--  - контактная информация -->
<!--  - политика конфиденциальности -->
<!--  - значки соц. медиа -->
<!--  - условия предоставления услуг -->
<!--  - инфа об авторских правах -->
<!--  - карта сайта -->  */




   #content {
    width: 500px; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
   }
   #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #6495ED; /* Цвет фона */
    color: #000; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }


  /*       if lte IE 6 
           html, body, #container {
           height: 100%;                  /* Высота страницы */
   /*       overflow: hidden;             /*Обрезаем все, что не помещается в окно */
   /*       }
   /*       #container {
    /*       overflow: auto;              /* Добавляем полосы прокрутки */
   /*       /*            }
  /*        #footer {
   /*       position: absolute;           /* Абсолютное позиционирование */
   /*       }
   /*       #footer div {
   /*      margin-right: 17px;           /* Смещаем фон, чтобы не накладывался на скролбар */
   /*        }
  /*        */ 

