 
/* звездочка означает, что стиль применяется ко всем html элементам */ 
* {margin: 0; padding: 0;} 
/* для html, body  устанавливаем ширину, высоту и цвет заднего фона */ 
html, body {width: 100%; height: 100%; background-color: #ba4c4c; }
/* если базовое поле стало розовым - мы подключили файл стиля 
   через первый файл scc :) */