/*body {
	color: blue;
}*/


.container {
text-align: center;
  /*горизонтальное выравнивание текста в пределах элемента*/
  /*center - Выравнивание текста по центру
  justify - по ширине-одновременно по левому и правому краю
  left, right - Выравнивание текста по левому/правому краю
  auto -Не изменяет положение элемента.
  inherit - Наследует значение родителя*/
}

.ssory {
  width: 60%;
  heigt: 60px;
  background-color: grey;
  
   margin-left: auto;
   margin-right: auto;
   
   text-align: center;
  /*горизонтальное выравнивание текста в пределах элемента*/
  /*center - Выравнивание текста по центру
  justify - по ширине-одновременно по левому и правому краю
  left, right - Выравнивание текста по левому/правому краю
  auto -Не изменяет положение элемента.
  inherit - Наследует значение родителя*/
}

.returnIndex {
	margin: 5px;
	/*background-color: CornflowerBlue;*/
	widht: 20%;
}