@import url("style_first.css");

   .flex-container {
    display: flex; /* Флексы */
    height: 300px; /* Высота */
    color: #fff; /* Белый цвет текста */
    font-size: 2.6em; /* Размер шрифта */
    flex-flow: column wrap; /* Располагаем в виде колонок */
   }
   .flex-item {
    display: flex; /* Флексы */
    align-items: center; /* Выравнивание текста по вертикали */
    justify-content: center; /* Выравнивание текста по горизонтали */
   }
   .one {
    background: #508694; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    flex-basis: 100%;
    order: 1; /* порядок следования отдельно 
    взятого flex-блока внутри flex-контейнера*/ 
    /*Первый блок */
   }
   .two {
    background: #BB844C; /* Цвет фона */
    margin-bottom: 10px; /* Отступ снизу */
    /*flex: 1 1 0;*/
      flex: 1 1 0;
    order: 2; 
/* порядок следования отдельно 
    взятого flex-блока внутри flex-контейнера*/
    /* Второй блок */
   }
   .three {
    background: #929D79; /* Цвет фона */
    flex: 1 1 0;
    order: 3; /* Третий блок */
    /* порядок следования отдельно 
    взятого flex-блока внутри flex-контейнера*/
   }


/*   align-self – выравнивание отдельно взятого 
   flex-блока по поперечной оси.
   flex-start: flex-блок прижат к началу поперечной оси
flex-end: flex-блок прижат к концу поперечной оси
center: flex-блок располагаются в центре поперечной оси
baseline: flex-блок выравнен по baseline
stretch (значение по умолчанию) : flex-блок растянут, 
чтобы занять все доступное место по поперечной оси, 
при этом учитываются min-width/max-width, 
если таковые заданы.*/


