*{margin: 0; padding: 0}
	/* убираем все отступы */

	a {
	text-decoration: none;
	/* убираем подчеркивания в ссылках */
}

h1 {
	color:#FF1493;
}


.wrapper, .content, .menu, body, html { 
	min-height: 100%; 
	height: 100%;
}

.wrapper {
	display: flex;
}


.content {
	flex:1;
	
	background: #FFFACD;
}

.block {
	margin: 40px;
padding: 20px;
background:#fff;
border: 1px solid #EEEFF2;
}


.block_menu {
	margin: 40px 20px;
padding: 15px;
background:#fff;
border: 1px solid #EEEFF2;
}


.menu {
	width: 250px;
	background: #464e78;
}