body {
	background-color: #FF8C00;
	color: red;
	background:  url("127_0.jpg") no-repeat;

}

h1 {
		font-size: 2em;
		background-color: RGB(249, 201, 16);  /* Цвет фона под заголовком */
		text-align: justify; /* Выравнивание по ширине */
}
h2 {
		font-size: 3em;
}

p {
	color: blue;
	text-align: justify;
}

.first {
	color:  green;
}

.second {
	color: gold ;
}

p.first {
	color: yellow;
}

p.first.second {
	background-color: red;
}

#12c23 {
	background-color: #008080;
}