AddDefaultCharset utf-8
#Кодировка

RewriteEngine on
#Включить rewrite_module - перенаправление

RewriteBase /
#Записывает базовую директорию нашего сайта

RewriteRule ^(.*)$ index.php
#перенаправляем все запросы на файл "index.php