/*Кнопка заказа звонка*/
#call {
  width: 200px;
  height: 30px;
  border: 2px solid;
  border-color: #A9A9A9 ;
  border-radius: 6px;
  background: #60a3d8;
  background-image: url("../../img/favicon.ico");
  background-repeat: no-repeat;
  padding-right: 3px;
}
