/*футер*/
footer {	
  display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: 25px;

  

  

  margin: 3px;
  border-radius: 6px;
  border: 2px solid;
  border-color: #A9A9A9 ;

   margin-left: 6px;
   margin-right: 6px;
	}
/*=================================*/

.footer1, .footer2, .footer3, .footer4, .footer5 {  

      display: inline-block; 
        margin: 0 0 0 0; 
        text-align:center;
        padding: 1px;

        background-color: #87CEEB;

         justify-content: center;
          align-items: center;
          overflow-y: hidden;
          white-space: nowrap;
      }