/*Горизонтальное меню*/
.hm {
	display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 30px;
}

.hm1, .hm2, .hm3, .hm4, .hm5, .hm6, .hm7 {
	display: grid;
	background: #6495ED;
	border-radius: 6px;
	margin: 1px;
    align-items: center;
    justify-content: center;
    font-size:20px;
    color:#fff;
}

/*исправляем левый маржин*/
.hm1 {
  margin-left: 5px;
}
/*исправляем правый маржин*/
.hm7 {
  margin-right: 5px;
}

a {
	text-decoration: none;
	color:#fff;
}
/*===========================*/